# -------------------------------
# Files Exclusion
# -------------------------------

/*
/Config/*
/Core/*

# -------------------------------
# Files Keep
# -------------------------------

!.gitignore
!.htaccess
!LICENSE
!README.md
!Core/ShirOSBundle
!Core/.htaccess
!Config/configBundle.php
!*/
