# -------------------------------
# Files Exclusion
# -------------------------------

/*
/Config/*

# -------------------------------
# Files Keep
# -------------------------------

!.gitignore
!.htaccess
!LICENSE
!README.md
!Core/*
!Config/configBundle.php
!*/