/* ---- Style pour la forme générale de la page ---- */

	@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

	/* Balise de Structuration */
		html {
			height: 100%;
			-ms-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
		}

		body {
			display: block;

			height: 100%;
			width: 100%;

			margin: 0;
			padding: 0;

			background-color: #e5e5e5;

			font-size: 15px;
			font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;  /* "AlmendraRegular" , "Helvetica Neue" , "JosefinSlabRegular", "RokkitRegular" */
			word-wrap: break-word;

			overflow: hidden;
		}

		header {
			height: 8%;
			width: 100%;

			color: #656565;
			background-color: #CCC;
			background-image: url('../Images/footer.png');

			-webkit-transform: translateZ(0);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}

		article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary { display:block; }

	/* END Balise de Structuration */

	/* Scrollbar */

		.scrollVertical { overflow-y: scroll !important; }

		.scrollHorizontal { overflow-x: scroll !important; }

	/* END Scrollbar */

	/* Page */

		#Page {
			height: 100%;
			width: 100%;
		}

		/* -- Block de Text -- */
			
			.post {	margin: 40px 0; }

			.post-Title {
				position: relative;
				z-index: 1;
				width: 100%;

				background-color: #337ab7;
			}			

			.post-Title > a {
				display: block;
				line-height: 60px;
				text-align: center;

				color: #FFF;
				font-size: 30px;
				font-weight: 700;
			}

			.post-TitleName {
				margin-left: 20px;
				display: inline-block !important;
			}

			.post-content {
				position: relative;
				z-index: 1;
				clear: both;

				overflow: hidden;
				
				padding: 20px 40px;
				background-color: #FFF;
				box-shadow: 0 2px 2px 0 rgba(0,0,0,.2), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.2);
			}
		
	/* END Page */

	/* Gradient transparent - color - transparent */

		hr {
			height:0;
			-webkit-box-sizing:content-box;
			-moz-box-sizing:content-box;
			box-sizing:content-box
		}

		.style-orange 
		{ 
			border: 1px; 
			height: 1px;
			background-image: linear-gradient(to right, rgba(230, 126, 34, 1), rgba(230, 126, 34, 1), rgba(230, 126, 34, 1));
		}

		.style-blue
		{ 
			border: 0; 
			height: 1px;
			background-image: linear-gradient(to right, rgba(51, 122, 183, 1), rgba(51, 122, 183, 1), rgba(51, 122, 183, 1));
		}

	/* END Gradient transparent - color - transparent */


	/* Texte */

		h1 {
			font-size: 30px;
			margin: 0px;
		}

		h2 {
			font-size: 25px;
			margin: 0px;
		}

		h3 {
			font-size: 20px;
			margin: 0px;
		}

		p {
			color: #000;
			font-size: 15px;
			text-align: justify;
		}

		a { text-decoration: none; }

	/* END Texte */

	/* Size Texte */

		.text-size-10 { font-size: 10px !important;	}

		.text-size-14 { font-size: 14px !important;	}

		.text-size-15 { font-size: 15px !important;	}

		.text-size-20 { font-size: 20px !important;	}


	/* END Size Texte */

	/* Style Texte */

		.text-italic { font-style: italic; }

		.text-bold { font-weight: bold; }

		.text-left { text-align: left }
		.text-right { text-align: right }
		.text-center { text-align: center }
		.text-justify { text-align: justify }
		
		.text-nowrap { white-space: nowrap }

		.text-lowercase { text-transform: lowercase }
		.text-uppercase { text-transform: uppercase }
		.text-capitalize { text-transform: capitalize }

	/* END Style Texte */



	/* Marge */

		.noMargin { margin: 0px !important; }
		.noMargin-Top { margin-top: 0px !important; }
		.noMargin-Right { margin-right: 0px !important; }
		.noMargin-Bottom { margin-bottom: 0px !important; }
		.noMargin-Left { margin-left: 0px !important; }



		.margin-5 { margin: 5px !important; }

		.margin-10 { margin: 10px !important; }

		.margin-20 { margin: 20px !important; }



		.marginTop-5 { margin-top: 5px !important; }

		.marginTop-10 { margin-top: 10px !important; }

		.marginTop-20 { margin-top: 20px !important; }

		.marginTop-100 { margin-top: 100px !important; }


		
		.marginRight-5 { margin-right: 5px !important; }

		.marginRight-10 { margin-right: 10px !important; }

		.marginRight-20 { margin-right: 20px !important; }

		.marginRight-100 { margin-right: 100px !important; }


		
		.marginLeft-5 { margin-left: 5px !important; }

		.marginLeft-10 { margin-left: 10px !important; }

		.marginLeft-20 { margin-left: 20px !important; }

		.marginLeft-100 { margin-left: 100px !important; }



		.marginBottom-5 { margin-bottom: 5px !important; }

		.marginBottom-10 { margin-bottom: 10px !important; }

		.marginBottom-20 { margin-bottom: 20px !important; }

		.marginBottom-100 { margin-bottom: 100px !important; }

	/* END Marge */

	/* Padding */

		.noPadding { padding: 0px !important; }
		.noPadding-Top { padding-top: 0px !important; }
		.noPadding-Right { padding-right: 0px !important; }
		.noPadding-Bottom { padding-bottom: 0px !important; }
		.noPadding-Left { padding-left: 0px !important; }



		.padding-5 { padding: 5px !important; }

		.padding-10 { padding: 10px !important; }

		.padding-20 { padding: 20px !important; }



		.paddingTop-5 { padding-top: 5px !important; }

		.paddingTop-10 { padding-top: 10px !important; }

		.paddingTop-20 { padding-top: 20px !important; }

		.paddingTop-100 { padding-top: 100px !important; }


		
		.paddingRight-5 { padding-right: 5px !important; }

		.paddingRight-10 { padding-right: 10px !important; }

		.paddingRight-20 { padding-right: 20px !important; }

		.paddingRight-150 { padding-right: 150px !important; }


		
		.paddingLeft-5 { padding-left: 5px !important; }

		.paddingLeft-10 { padding-left: 10px !important; }

		.paddingLeft-20 { padding-left: 20px !important; }

		.paddingLeft-150 { padding-left: 150px !important; }



		.paddingBottom-5 { padding-bottom: 5px !important; }

		.paddingBottom-10 { padding-bottom: 10px !important; }

		.paddingBottom-20 { padding-bottom: 20px !important; }

	/* END Padding */



	/* Div */

		.div-left { float: left; }
		.div-right { float: right; }

		.div-center {
			margin-left: auto !important;
			margin-right: auto !important;
		}

		.div-verticalCenter {
			display: flex;
			height: 100%;

			flex-direction: column;
			justify-content: center;
		}

		.divInline { display: inline-block !important; }

		.divInline-center { text-align: center; }

	/* END Div */

	/* Div Size */

		.divSize-5 { width: 5%; }

		.divSize-10 { width: 10%; }

		.divSize-15	{ width: 15%; }

		.divSize-20	{ width: 20%; }

		.divSize-25	{ width: 25%; }

		.divSize-30 { width: 30%; }

		.divSize-35	{ width: 35%; }

		.divSize-40 { width: 40%; }

		.divSize-45	{ width: 45%; }

		.divSize-50	{ width: 50%; }

		.divSize-60	{ width: 60%; }

		.divSize-70	{ width: 70%; }

		.divSize-80	{ width: 80%; }

		.divSize-90	{ width: 90%; }

		.divSize-100 { width: 100%; }


		.divMaxSize-5 { max-width: 5%; }

		.divMaxSize-10 { max-width: 10%; }

		.divMaxSize-15	{ max-width: 15%; }

		.divMaxSize-20	{ max-width: 20%; }

		.divMaxSize-25	{ max-width: 25%; }

		.divMaxSize-30 { max-width: 30%; }

		.divMaxSize-35	{ max-width: 35%; }

		.divMaxSize-40 { max-width: 40%; }

		.divMaxSize-45	{ max-width: 45%; }

		.divMaxSize-50	{ max-width: 50%; }

		.divMaxSize-60	{ max-width: 60%; }

		.divMaxSize-70	{ max-width: 70%; }

		.divMaxSize-80	{ max-width: 80%; }

		.divMaxSize-90	{ max-width: 90%; }

		.divMaxSize-100 { max-width: 100%; }


		.divLineHeight-10 { line-height: 10px !important; }

		.divLineHeight-20 { line-height: 20px !important; }

		.divLineHeight-30 { line-height: 30px !important; }

		.divLineHeight-40 { line-height: 40px !important; }

		.divLineHeight-50 { line-height: 50px !important; }

		.divLineHeight-60 { line-height: 60px !important; }

	/* END Div Size */
 
	
	
	/* Table */

		table  { 
			border-collapse: collapse;
			border-spacing: 0;
			margin: 0 auto;

			width: 100%;
		}

		.list-400 { height: 400px; }
		.list-450 { height: 450px; }
		.list-600 { height: 600px; }
		.list-800 { height: 800px; }

		.list-400 > section,
		.list-450 > section,
		.list-600 > section,
		.list-800 > section {
			-webkit-transform: translateZ(0);
			-webkit-transition: all 0.2s ease-out;
			-moz-transition: all 0.2s ease-out;
			-o-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
		}

		.list-400 > section:hover,
		.list-450 > section:hover,
		.list-600 > section:hover,
		.list-800 > section:hover { background-color: #EAEAEA; }

		.list-400 > section > div,
		.list-450 > section > div,
		.list-600 > section > div,
		.list-800 > section > div { padding: 10px; }

		.list-400 > section > hr,
		.list-450 > section > hr,
		.list-600 > section > hr,
		.list-800 > section > hr { margin: 0 !important; }

	/* END Table */

/* ---- END Style pour la forme générale de la page ---- */
